/* CSS Document */

/* The CSS definitions to anything header related */

#header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    height: 3.5em;
    flex: none;
    padding: 1.5em 3em 1.5em 1.5em;
    /*border-bottom: solid #667b9a 1px;*/
    /*box-shadow: 0 0 0.5em -0.1em var(--background-color-dark);
    -moz-box-shadow: 0 0 0.5em -0.1em var(--background-color-dark);
    -webkit-box-shadow: 0 0 0.5em -0.1em var(--background-color-dark);*/
    /*background: linear-gradient(4deg, var(--background-color-dark) 30%, #667b9a 400%), var(--background-color-dark);*/
    background-color: var(--background-color-dark);
}
#header * {
    color: var(--text-color-dark);
}

#header-logo {
	height: 100%;
	margin-right: auto;                 /* to let the flex container shift the menu to the right */
}

#header-menu {
	font-family: 'Montserrat Regular';  /* menu font */
	font-size: 1.3em;                   /* menu font size */
}
#header-menu>a+a {
	margin-left: 2em;       /* space between menu items */
}

#header-btn-login {
    display: block;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 0.4em 1.5em;
    border-radius: 100em;
    text-decoration: none;
    margin-left: 4em;
    font-family: 'Montserrat Medium';
}