/**
    Definitions for the content of the main page
*/

/* the class for a main page section */
div.main-section {
    padding: 3em 0;
}


#main-banner {
    display: flex;
    background-color: var(--background-color-dark);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5em 0;
}

/* the sensei */
#main-banner>lottie-player {
    height: 25em;
    width: 25em;
}

#main-banner>*+* {
    margin-left: 3em;
}

/* The "enjoy the smoothness..." text */
#main-banner h1 {
    color: var(--text-color-dark);
    letter-spacing: 0.15em;
}

/* The call to action at the beginning of the page */
#main-button-cta {
    margin: auto;
    cursor: pointer;
}
#main-button-cta-container {
    margin: 2em auto;
}

/*
 *  START - SECTION "BEKANNT DURCH"
 */

/* The part with the "bekannt durch" partners */
#main-section-known-from {
    text-align: center;
}
#main-section-known-from div.flex-container-row>a {     /* the links containing the logos */
    width: 20em;
}
#main-section-known-from div.flex-container-row>a>img {
    width: 100%;
    max-height: 100%;
}
#main-section-known-from div.flex-container-row>*+* {
    margin-left: 4em;       /* for the spacing between the logos */
}

/*
 *  END - SECTION "BEKANNT DURCH"
 */

/*
 *  START - SECTION "PROBLEM MIT PAPIERCHAOS"
 */

#main-section-problems {
    background-color: var(--background-color-2nd);
    text-align: center;
}
 
/* The container of the single column items */
#main-section-problems-container {
    flex-wrap: wrap;
    margin-top: 3em;
}

/* the individual item/column */
div.main-section-problems-item {
    width: 20em;
}
div.main-section-problems-item > img {
    max-width: 30%;
}
div.main-section-problems-item + div.main-section-problems-item {
    margin-left: 3em;
}

 /*
 *  END - SECTION "PROBLEM MIT PAPIERCHAOS"
 */


 /*
 *  START - SECTION "UNSERE LÖSUNG"
 */

#main-section-our-solution {
    text-align: center;
}

#main-section-our-solution > * {
    max-width: 30%;
}
#main-section-our-solution > * + * {
    margin-left: 4em;
}

#main-section-our-solution-introduction h3 {
    font-family: 'Montserrat Light';
}

#main-section-our-solution-container-features {
    text-align: left;
    font-size: 1.3em;
}

#main-section-our-solution-container-features img {
    width: 1.7em;
    margin-right: 1em;
}

#main-section-our-solution-container-features p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

 /*
 *  END - SECTION "UNSERE LÖSUNG"
 */


  /*
 *  START - SECTION "UNSERE LÖSUNG"
 */

 #main-section-features {
    background-color: var(--background-color-2nd);
 }

/* horizontal spacing between graphics and text */
#main-section-features > div.flex-container-row > * + * {
    margin-left: 4em;
}

/* vertical spacing between the rows */
#main-section-features > div.flex-container-row + div.flex-container-row {
    margin-top: 3em;
}

/* the individual animations */
#main-section-features-g-letter {
    max-width: 19em;
}
#main-section-features-g-screen {
    max-width: 25em;
}
#main-section-features-g-scanner {
    max-width: 15em;
}
#main-section-features-g-phone {
    max-width: 17em;
}

div.main-section-features-text {
    flex: 1;
    max-width: 30em;
    text-align: center;
}

 /*
 *  END - SECTION "UNSERE LÖSUNG"
 */
 

  /*
 *  START - SECTION "TESTIMONIALS"
 */

#main-section-testimonials {
    background-color: var(--background-color-dark);
    text-align: center;
}
#main-section-testimonials h3, #main-section-testimonials h4 {
    color: var(--text-color-dark);
    letter-spacing: normal;
}

#main-section-testimonials > div.flex-container-row {
    align-items: stretch;
}

div.main-section-testimonial-item {
    max-width: 35em;
    display: flex;
    flex-direction: column;
}
div.main-section-testimonial-item + div.main-section-testimonial-item {
    margin-left: 2em;
}
div.main-section-testimonial-item > h3 {
    flex: 1;
}
div.main-section-testimonial-item h4 {
    margin-block-start: 0;
    margin-block-end: 0.5em;
}
div.main-section-testimonial-item-person {
    text-align: left;
}
div.main-section-testimonial-item-person img {
    width: 4em;
    border-radius: 2em;
    margin-right: 1.5em;
}
div.main-section-testimonial-item-person p {
    margin-block-start: 0;
    margin-block-end: 0;
}

 /*
 *  END - SECTION "TESTIMONIALS"
 */